* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-size: 62.5%;
  font-family: Arial, sans-serif;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

/* navbar */
.navbar {
  /* background-color: rgba(10, 10, 10, 0.97); */
  background-color: #03045e;
  color: wheat;
  /* overflow: hidden; */
  position: fixed;
  top: 0;
  width: 100%;
  font-size: 2em;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  z-index: 2;
}

.navbar__logo {
  padding: 5px;
  font-weight: 600;
}
.navbar__logo span {
  color: rgb(40, 158, 40);
}
.navbar__list {
  width: 35%;
  margin: 0px 50px;
  margin-left: -50px;
  /* margin-right: 30px; */
}

.navbar__list ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  text-align: center;
}
.navbar__list li {
  display: inline;
  text-decoration: none;
}
.navbar__list a {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 5px 8px;
  border-radius: 5px;
}

.navbar__list a:hover {
  background-color: #adadad;
  color: black;
}

.navbar__login button {
  background: none;
  border: none;
  margin-right: 20px;
}

/* Content */
.content {
  top: 0;
  left: 0;
  width: 100%;
  /* overflow: hidden; */
}

.content::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-image: url('frontpage2.jpg');
  background-size: cover;
  background-position: top right;
  opacity: 1; 
  z-index: -1; */
}

section {
  height: fit-content;
  min-height: 200px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: fit-content;
  height: 100vh;

  background-image: url('frontpage2.jpg');
  background-size: cover;
  background-position: top right;

  z-index: -1;
}
.details {
  height: 80%;
  position: relative;
  top: 60px;
  left: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.details__para {
  width: 90%;
  padding: 40px;
  padding-bottom: 10px;
  font-size: 3.2em;
  font-weight: 700;
  text-align: center;
  line-height: 1.6em;
  word-spacing: 2px;
  /* color: #ffffffec; */
  color: rgba(0, 0, 0, 0.8);
}

.details__btn {
  font-size: 1.8em;
  padding: 10px 20px;
  border-radius: 10px;
  outline: none;
  border: none;
}
.details button:hover {
  background-color: #adadad;
  color: black;
  font-weight: 500;
}

/* login form */
.login-container {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 12;
  height: 100%;
  width: 100%;
}
.form_container {
  position: relative;
  background-color: black;
  color: white;
  width: 30%;
  margin: 100px auto auto auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  z-index: 12;
}

.login-container h2 {
  font-size: 3.2em;
  margin: 20px 10px;
  /* margin-bottom: 20px; */
}

.close-button {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 30px;
  height: 30px;
  background: url('cross\ \(2\).svg') no-repeat;
  cursor: pointer;
}

.loginForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px 50px;
  padding-bottom: 20px;
}

.loginForm__formLabel {
  font-size: 1.6em;
  display: inline-block;
  width: 50%;
  text-align: left;
  padding-bottom: 10px;
}

.loginForm select,
.loginForm input[type='text'],
.loginForm input[type='password'] {
  font-size: 1.6em;
  width: 100%;
  padding: 5px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-container button {
  width: 50%;
  padding: 10px 20px;
  margin: 10px;
  font-size: 1.6em;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
}

.login-container button:first-child {
  margin-right: 10px;
  margin-left: 0px;
}
.login-container button:last-child {
  margin-left: 10px;
  margin-right: 0px;
}
.login-container button:hover {
  background-color: #0056b3;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(4px);
  z-index: 10;
  transition: all 0.5s;
}

/* about us section */
.about__container {
  width: 70%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

#about {
  padding: 60px 0;
  background-color: #f9f9f9;
  background-image: url('frontpage1-copy.jpg');
  background-size: cover;
  background-position: top right;
  color: #333;
}

#about h2 {
  margin: 10px auto;
  font-size: 3.2em;
  text-align: center;
  margin-bottom: 20px;
  font-weight: 700;
  text-align: center;
  line-height: 1.6em;
  word-spacing: 2px;
}

#about p {
  font-size: 1.8em;
  line-height: 1.6;
  padding: 10px 30px;
  max-width: 800px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.8);
}

/* service section css */

#services {
  padding: 60px 0;
  background-color: #f9f9f9;
  background-image: url('frontpage3.jpg');
  background-size: cover;
  background-position: top right;
  color: #333;
}

#services h2 {
  margin: 10px auto;
  font-size: 3.2em;
  text-align: center;
  margin-bottom: 20px;
  font-weight: 700;
  text-align: center;
  line-height: 1.6em;
  word-spacing: 2px;
}
.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 0;
  /* background-color: #f9f9f9; */
  background-size: cover;
  background-position: center;
  color: #333;
}
.service {
  width: 300px;
  margin: 20px;
  padding: 30px 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.service h3 {
  height: 50px;
  font-size: 2em;
  margin-bottom: 20px;
}

.service p {
  font-size: 1.6em;
  line-height: 1.6;
}

.service_image {
  height: 50px;
  width: 50px;
  margin: 15px;
  padding: 10px;
  /* border: 1px solid black; */
  border-radius: 50%;
  /* background-color: #adadad; */
}

/* Contact us section css */

#contact {
  padding: 60px 0;
  background-color: #f9f9f9;
  background-image: url('frontpage4.jpg');
  background-size: cover;
  background-position: center;
  color: #333;
}

#contact h2 {
  margin: 10px auto;
  font-size: 3.2em;
  text-align: center;
  margin-bottom: 20px;
  font-weight: 700;
  text-align: center;
  line-height: 1.6em;
  word-spacing: 2px;
}
.contact_container {
  display: grid;
  grid-template-columns: 2fr 2.2fr;
  justify-content: center;
  flex-direction: row;
  padding: 20px 0px;
}
.contact-info {
  margin-bottom: 30px;
  margin: auto auto auto 30px;
  padding: 50px 50px;
  font-weight: 500;
}
.contact-info p {
  font-size: 2em;
  color: black;
  line-height: 1.6em;
}
.contact-form {
  /* max-width: 600px;  */
  width: 60%;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); /* Add shadow */
}

.contact-form h3 {
  font-size: 1.8em;
  margin-bottom: 20px; /* Add margin */
}

.contact-form form label {
  display: block; /* Display labels as block */
  margin-bottom: 10px; /* Add margin */
  font-size: 1.6em;
}

.contact-form form input[type='text'],
.contact-form form input[type='email'],
.contact-form form textarea {
  width: 100%;
  padding: 5px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-form form textarea {
  height: 50px;
}

.contact-form form button[type='submit'] {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contact-form form button[type='submit']:hover {
  background-color: #45a049;
}

.social-media {
  margin: 20px 0px;
}
.social-media h3 {
  font-size: 1.8em;
  margin-bottom: 5px;
  color: black;
  margin-top: 10px;
}

.social-media ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.social-media li {
  margin: 5px 15px 5px 0px;
  width: 28px;
  height: 28px;
}

/* footer css */
.footer {
  /* background-color: #000000b2; */
  background-color: #8dc8e7;
  color: #000;
  padding: 40px 0px 0px 0px;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  padding: 0 20px;
}

.footer-section h3 {
  font-size: 1.8em;
  margin-bottom: 10px; /* Add margin */
}
.footer-section p {
  font-size: 1.4em;
}

.contact-list {
  list-style: none;
  font-size: 1.4em;
  padding: 0;
}

.contact-list li {
  margin-bottom: 10px;
}

.subscribe-form {
  margin-top: 20px;
}

.subscribe-form input[type='email'] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.subscribe-form button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.subscribe-form button:hover {
  background-color: #555;
}

.footer-bottom {
  font-size: 1.4em;
  background-color: black;
  color: white;
  margin-top: 20px;
  padding: 10px;
}
